{% extends "base.html" %}

{% block content %}
			
		
	{% set fon = "/static/img/fon.jpg" %}
	<div style="background: url({{fon}}) center center; padding: 200px 0; background-size: 100%;">
		<h1 style="text-align: center; font-size: 100px; color: white"><b>FITNESS CLUB</b></h3>
	</div>
	
	
	<div style="background: #dbdbdb; display: flex; justify-content: center; padding: 100px 0px; min: 800px">	
	<div style="text-align: justify; width: 800px">
	    <h4><b>Фитнес-клуб «FITNESS CLUB»</b> - это современный спортклуб высочайшего уровня. Здесь вы не просто покупаете абонемент - вы приобретаете ключ к здоровому образу жизни, становитесь членом нашей семьи. Забота о вашем физическом и психологическом здоровье для нас на первом месте! Наш важнейший принцип - индивидуальный подход. Квалифицированные тренеры и инструкторы составят план тренировок, дадут рекомендации и проведут индивидуальные занятия. Тренерский состав - это дипломированные специалисты и профессиональные спортсмены.</h4>

		<h4 style="margin-top: 30px"><b>«FITNESS CLUB»</b> - источник силы и гармонии. За годы работы в индустрии спорта, здоровья и красоты мы накопили такое количество знаний, что поделиться ими в формате обычного клуба просто невозможно. Именно поэтому фитнес-центр "FITNESS CLUB" - это целая академия здорового фитнеса, которая включает в себя: тренажерный зал, групповые программы, массаж, зона единоборств, зал сайкла и множество других направлений.</h4>
	</div>
	</div>
	
	
	<div style=" text-align: center; padding: 100px 0px; min: 800px">	
		<p style="font-size: 40px;"><b>Наши преимущества</b></p>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 50px; text-align: left;">        
		 
          <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px;  margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Команда профессионалов</b></h4></div>
              
		  <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px; margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Демократичные цены</b></h4></div>
              
		  <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px; margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Удобное месторасположение</b></h4></div>
          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 50px; text-align: left;">        	
              
		  <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px; margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Зона кроссфита и единоборств</b></h4></div>
              
		  <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px; margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Просторные залы</b></h4></div>
              
		  <span class="glyphicon glyphicon-bookmark"  style="font-size: 70px; margin: 0 10px 0 20px"></span>
          <div style="width:200px"><h4><b>Наличие клубных карт</b></h4></div>
          
		</div>
	</div>

	
{% endblock %}