{% extends "base.html" %}

{% block content %}
						
	
	<div style="display: flex; justify-content: center;">	
	  <div style="text-align: center; padding: 70px 0px; width: 1000px">	
		<p style="font-size: 60px; color: FireBrick"><b>ОТЗЫВЫ НАШИХ КЛИЕНТОВ</b></p>
		
		{% for item in obj%}
		<div style="margin-top: 70px; padding: 10px 10px; text-align: justify; border: 3px solid black; border-radius: 10px;">
			<p style="">{{item.Data}}</p>	
			<p style="">{{item.Text}}</p>	
			<p style="">{{item.Name}}</p>	
		</div>
		{% endfor %}
	  </div>	
	</div>

	
{% endblock %}