{% extends "base.html" %}

{% block content %}
					
	<div style="display: flex; justify-content: center;">	
	<div style=" text-align: center; padding: 70px 0px; width: 900px">	
		<p style="font-size: 60px; color: FireBrick"><b>ГРУППОВЫЕ ЗАНЯТИЯ</b></p>
		<p style="text-align: justify; margin-top: 50px">К Вашим услугам просторный зал аэробики. В клубе представлено более 15 групповых программ с использованием специального оборудования и без него. Кроме того, в каждом направлении есть занятия как для начинающих, так и для гурманов аэробики. Классы для начинающих очень бережно вводят вас в тренировочный процесс. В нашем Клубе каждый может найти себе занятие по душе и выбрать из большого количества предложенного то, что соответствует темпераменту, уровню подготовленности, желанию или просто, вашему настроению.</p>
		<p style="text-align: justify; margin-top: 20px">Действуют и специальные группы для детей от 4 до 12 лет, где опытные педагоги помогают малышам развивать таланты и способности.</p>
	
		
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 70px;">  
			{% set img1 = "/static/img/group1.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Йога</b></p>
				<p style="margin-top: 20px; color: #212121">Тренировка, состоящая из специальных упражнений, выполняющихся в определенном порядке. Укрепляет и растягивает мышцы, сухожилия и связки, способствует достижению душевного и физического равновесия. Исправляет осанку. Развивает гибкость. Для всех уровней подготовки.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group2.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Cycle</b></p>
				<p style="margin-top: 20px; color: #212121">Групповые занятия на велотренажёрах. Для всех уровней подготовки.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group3.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Кроссфит</b></p>
				<p style="margin-top: 20px; color: #212121">Cпортивное движение, основанное на философии многостороннего физического развития. Эксперты определяют кроссфит как систему подготовки, развивающую все физические качества атлета – выносливость, силу, скорость, гибкость, координацию.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group4.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Fitball</b></p>
				<p style="margin-top: 20px; color: #212121">Силовой урок с использованием мячей. Укрепляет как поверхностные, так и глубокие мышцы тела, снимает нагрузку с позвоночника, развивает чувство равновесия. Особенно показан людям с варикозным расширением вен. Для всех уровней подготовки.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group5.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Pump</b></p>
				<p style="margin-top: 20px; color: #212121">Супер тренировка с мини-штангой. Всем кто хочет поддержать форму, улучшить фигуру, избавиться от лишних кг! Прорабатываются основные группы мышц. Для всех уровней подготовки.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group6.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Стретчинг</b></p>
				<p style="margin-top: 20px; color: #212121">Тренировка, состоящая из специальных упражнений, позволяющих вернуть, либо развить вашу гибкость. Тренировки полезны и необходимы всем независимо от возраста и степени развития гибкости. Для всех уровней подготовки.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group7.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Step</b></p>
				<p style="margin-top: 20px; color: #212121">Аэробный урок с использованием степ платформ, где аэробная нагрузка средней и высокой интенсивности чередуется силой. Для начинающих.</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group8.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>ММА</b></p>
				<p style="margin-top: 20px; color: #212121">Боевые искусства, представляющие собой сочетание множества техник, школ и направлений единоборств. ММА является полноконтактным боем с применением ударной техники и борьбы как в стойке (клинч), так и на полу (партер).</p>
			</div>          
		</div>
		<div style="display: flex; justify-content: center; flex-wrap: nowrap; margin-top: 40px;">  
			{% set img1 = "/static/img/group9.jpg" %}
			<img src={{img1}} style="width: 350px; height: auto;">
			<div style="width: 550px; margin-left: 30px; text-align: justify;">
				<p style="font-size: 20px; text-align: center"><b>Бокс</b></p>
				<p style="margin-top: 20px; color: #212121">Тренировки включают в себя отработку техники нанесения ударов и защиты от них, изучение боевых комбинаций, спарринги, упражнения в парах и на снарядах.</p>
			</div>          
		</div>
	</div>
	</div>

	
{% endblock %}