{% extends "base.html" %}

{% block content %}
					
	<div style="display: flex; justify-content: center;">	
	  <div style=" text-align: center; padding: 70px 0px; width: 900px">	
		<p style="font-size: 60px; color: FireBrick"><b>ПЕРСОНАЛЬНЫЕ ТРЕНИРОВКИ</b></p>
		<p style="text-align: justify; margin-top: 50px">ПЕРСОНАЛЬНЫЕ ТРЕНИРОВКИ - это объективно лучший способ достижения поставленной цели и решения таких задач, как уменьшение жировой прослойки, увеличение мышечной массы, повышение выносливости, улучшение мышечного тонуса, развитие гибкости, силы и многое другое. Тренировка под руководством профессионального тренера это залог 100% успеха!</p>

		<p style="text-align: center; margin-top: 50px; font-size: 20px;"><b>ПРЕИМУЩЕСТВА ЗАНЯТИЙ С ПЕРСОНАЛЬНЫМ ТРЕНЕРОМ</b></p>
		<p style="text-align: justify; margin-top: 20px">Персональный тренер – это специалист, имеющий профильное образование в области фитнеса и спорта, знающий как достичь результата в построении тела и не нанести ему вред. Если вы такой специалист, можете заниматься самостоятельно. Если же нет, то тренировка под контролем тренера то, что вам нужно!</p>
		
		<p style="text-align: center; margin-top: 70px; font-size: 20px;"><b>ЧТО ВЫ ПОЛУЧИТЕ В РЕЗУЛЬТАТЕ ПЕРСОНАЛЬНОЙ ТРЕНИРОВКИ</b></p>
		
		<div style="background: FireBrick; padding: 10px 60px; text-align: left; color: white">
			<h4><span class="glyphicon glyphicon-ok"></span> Персонального тренера, которого вы сами выберете</h4>
			<h4><span class="glyphicon glyphicon-ok"></span> Индивидуальную программу тренировок, учитывающую особенности вашей подготовки и физического состояния</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Контроль техники выполнения упражнений, чтобы снизить вес или набрать мышечную массу и при этом не нанести вред здоровью</h4> 
            <h4><span class="glyphicon glyphicon-ok"></span> Контроль достижения результата</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Своевременную корректировку программы тренировок для дальнейшего улучшения результата</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Психологическую поддержку тренера</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Возможность приобрести абонемент в рассрочку</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Возможность «заморозить» абонемент до 45 суток на время отпуска или болезни без предоставления подтверждающих документов</h4>
            <h4><span class="glyphicon glyphicon-ok"></span> Срок действия абонемента начинается с первого занятия. Купите сегодня – занимайтесь «завтра»!</h4>
		</div>
		
	  </div>
	</div>
	
	
{% endblock %}